.env
General-Hospital-ETL/.env
General-Hospital-ETL/test_data.csv
Spark-Learning/data
CRM-demo/.env
.vscode/settings.json
extract/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.csv
extract/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.html
extract/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.parquet
extract/data_test/crawl_profile/crawled_on_2025_08_02/*.html
extract/data_test/crawl_profile/crawled_on_2025_08_02/*.csv
extract/data_test/crawl_profile/crawled_on_2025_08_02/*.parquet
extract/data_test/crawl_active_tickers/crawled_on_2025_08_02/*
extract/data_test/crawl_financials/crawled_on_2025_08_02/income_statement/*.html
extract/data_test/crawl_financials/crawled_on_2025_08_02/income_statement/*.csv
extract/data_test/crawl_financials/crawled_on_2025_08_02/income_statement/*.parquet
extract/data_test/crawl_financials/crawled_on_2025_08_02/balance_sheet/*.html
extract/data_test/crawl_financials/crawled_on_2025_08_02/balance_sheet/*.csv
extract/data_test/crawl_financials/crawled_on_2025_08_02/balance_sheet/*.parquet
extract/data_test/crawl_financials/crawled_on_2025_08_02/cash_flow/*.html
extract/data_test/crawl_financials/crawled_on_2025_08_02/cash_flow/*.csv
extract/data_test/crawl_financials/crawled_on_2025_08_02/cash_flow/*.parquet
extract/data_test/crawl_statistics/crawled_on_2025_08_02/*.csv
extract/data_test/crawl_statistics/crawled_on_2025_08_02/*.html
extract/data_test/crawl_statistics/crawled_on_2025_08_02/*.parquet
minio_utils/__pycache__/*
extract/__pycache__/*
load/__pycache__/*


