Stock-Market-ETL/.env
General-Hospital-ETL/.env
General-Hospital-ETL/test_data.csv
Spark-Learning/data
CRM-demo/.env
.vscode/settings.json
Stock-Market-ETL/crawler/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.csv
Stock-Market-ETL/crawler/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.html
Stock-Market-ETL/crawler/data_test/crawl_profile/crawled_on_2025_08_02/*.html
Stock-Market-ETL/crawler/data_test/crawl_active_tickers/crawled_on_2025_08_02/*
