Stock-Market-ETL/.env
General-Hospital-ETL/.env
General-Hospital-ETL/test_data.csv
Spark-Learning/data
CRM-demo/.env
.vscode/settings.json
Stock-Market-ETL/extract/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.csv
Stock-Market-ETL/extract/data_test/crawl_5_years_history/crawled_on_2025_08_02/*.html
Stock-Market-ETL/extract/data_test/crawl_profile/crawled_on_2025_08_02/*.html
Stock-Market-ETL/extract/data_test/crawl_profile/crawled_on_2025_08_02/*.csv
Stock-Market-ETL/extract/data_test/crawl_active_tickers/crawled_on_2025_08_02/*
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/income_statement/*.html
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/income_statement/*.csv
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/balance_sheet/*.html
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/balance_sheet/*.csv
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/cash_flow/*.html
Stock-Market-ETL/extract/data_test/crawl_financials/crawled_on_2025_08_02/cash_flow/*.csv
Stock-Market-ETL/extract/data_test/crawl_statistics/crawled_on_2025_08_02/*.csv
Stock-Market-ETL/extract/data_test/crawl_statistics/crawled_on_2025_08_02/*.html
Stock-Market-ETL/minio_utils/__pycache__/*
Stock-Market-ETL/extract/__pycache__/*
Stock-Market-ETL/load/__pycache__/*


